.App {
  text-align: center;
}

.App-header {
  background-color: white;
  padding: 0px;
  color: rgb(2, 17, 82);
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.top-left {
  margin: 0;
  background-color: rgb(197, 191, 231);
  padding: 10px;
  width: 100%;
  text-align:left;
}

.content {
  display: flex;
  height: calc(100vh - 50px); /* Adjust height based on header height */
}

.left-pane {
  flex: 1;
  background-color: #f0f0f0;
  padding: 10px;
}

.right-pane {
  flex: 2;
  background-color: #fff;
  padding: 10px;
}

.tab-list {
  list-style-type: none;
  padding: 0;
}

.tab-list li {
  margin: 5px 0;
  padding: 10px;
  background-color: #ccc;
  cursor: pointer;
}

.dropdown {
  width: 40%; /* Adjust the width as needed */
  padding: 10px; /* Optional: Add padding for better appearance */
  font-size: 14px; /* Optional: Adjust font size */
}